:root {
  --text-color-quest: rgba(102, 102, 102, 1);
  --text-color-white: rgba(255, 255, 255, 1);
  --links-acess: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: rgba(235, 214, 177, 0.411) ;
  position: absolute;
  left: 30%;
  flex-shrink: 0;
}

#content {
  width: 100%;
  height: 853;
  margin: 20px 0px 28px 0px;
  margin-left: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;

  color: #333;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Caixa de texto de criação de conta ou ir para login*/
#box-create {
  width: 304px;
  height: 78px;
}

#box-create p {
  font-family: Poppins;
}
#create {
  font-size: 32px;
  font-weight: 500;
  gap: 2px;
}

#faca-login {
  font-size: 16px;
  font-weight: 400;
}

#faca-login a {
  color: var(--links-acess);
  text-decoration-line: underline;
}

form {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-quest);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form div {
  gap: 4px;
  width: 100%;
}

form div p {
  text-align: left;
}

form p a {
  color: var(--links-acess);
  text-decoration-line: underline;
}

input {
  color: rgba(102, 102, 102, 0.6);
  padding: 15px 420px 17px 24px;
}

.errorMSG {
  color: red;
  font-size: 10px;
  display: none;
}


.inputError {
  display: flex;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  height: 56px;
  width: 100%;
}


button {
  font-size: 22px;
  color: white;
  background: var(--links-acess);
  border-radius: 40px;
  opacity: 0.25;
  display: flex;
  width: 100%;
  height: 64px;
  padding: 15px 0px 16px 0px;
  justify-content: center;
  align-items: center;
  transition: background 0.4s;
  cursor: pointer;
}

button:hover {
  background: #000000;
  opacity: 0.75;
}

#loginforothers {
  display: flex;
  flex-direction: line;
  align-items: flex-start;
  gap: 16px;
  margin-top: -24px;
}

#loginforothers a {
  text-decoration: none;
  color: #333;
}

#loginforothers label {
  border-radius: 40px;
  border: 1px solid #333;
  display: flex;
  width: 227px;
  height: 64px;
  background: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.4s;
}

#loginforothers label:hover {
  background: #111;
  opacity: 0.70;
  color: #fff;
}

#loginforothers label ion-icon {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

#oucom {
  display: flex;
  font-family: Avenir;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  padding: 32px 0px 0px 0px;
}

svg {
  gap: 16px;
}

@media screen and (max-width: 1120px) {
  body {
    margin: auto;
    left: 5%;
  }

  #content {
    width: 50%;
  }

  form {
    width: 100%;
  }

  .inputError {
    width: 100%;
    padding: 15px 0px 17px 24px;
  }

  #oucom {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  #loginforothers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}